.page{
    margin: 0;
    font-family: 'Century Gothic';
    
}
body{
    background-color: rgba(128, 128, 128, 0.459);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    padding: 25px;
}

.nom_prenom{
    color: white;
    font-weight: bold;
    margin-right: 70px;
    font-size: 1.4em;
    letter-spacing: 2px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.nom_prenom:hover{
    font-size: 1.3em;
}

.prenom{
    color: rgba(56, 241, 241, 0.929);
    gap: 15px;
}

.nav_links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    margin-left: 100px;
}

.nav_links li{
    list-style-type: none;
    
}

.nav_links li a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    transition-duration: 0.5s;
}

.nav_links li a:hover {
    color: rgba(56, 241, 241, 0.929);
    font-size: 1.3em;
}

.corps1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 250px;
}

.presentation {
    font-weight: 550;
    flex-direction: column;
    font-size: 1.3em;
    letter-spacing: 1px;
}

.nom{
    color: rgba(4, 212, 212, 0.941);
}

.cv{
    width: 250px;
    height: 60px;
    border: 1px solid ;
    border-radius: 10px;
    font-size: 1.1em;
    color: white;
    font-weight: bold;
    background-color: rgba(56, 241, 241, 0.929);
    cursor: pointer;
    transition-duration: 0.5s;
    box-shadow: 2px 3px 5px 3px black;
}

.cv:hover{
    background-color: white;
    color: black;
}

.photo {
    width: 300px;
    height: 350px;
    border: 5px solid rgba(56, 241, 241, 0.929);
    border-radius: 50%;
    object-fit: cover;

}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span{
        background: white;
        height: 3px;
        width: 35px;
        margin: 5px 0;
        transition: 0.3s;
}

@media (max-width : 450px) {
    .nav_links {
        position: absolute;
        top: 60px;
        right: -300px;
        background: black;
        flex-direction: column;
        width: 200px;
        padding:20px ;
        transition: 0.3s;
    }

    .nav_links.show{
        right: 0;
    }

    .hamburger {
        display: flex;
    }

    .nom_prenom {
        font-size: 2em;
    }
}    